/* (A) POPUP */
.picker-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
  }
  .picker-wrap.show {
    opacity: 1;
    visibility: visible;
    z-index: 100500;
  }
  .picker-wrap .picker {
    margin: 50vh auto 0 auto;
    transform: translateY(-50%);
  }

  /* (B) CONTAINER */
  .picker {
    max-width: 300px;
    background: #444444;
    padding: 10px;
  }

  /* (C) MONTH + YEAR */
  .picker-m, .picker-y {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }

  /* (D) DAY */
  .picker-d table {
    color: #fff;
    border-collapse: separate;
    width: 100%;
    margin-top: 10px;
  }
  .picker-d table td {
    width: 14.28%; /* 7 EQUAL COLUMNS */
    padding: 5px;
    text-align: center;
    color: black;
  }
  /* HEADER CELLS */
  .picker-d-h td {
    background: lightgray !important;
    font-weight: bold;
  }
  /* BLANK DATES */
  .picker-d-b {
    background: gray !important;
  }
  /* TODAY or SELECTED DAY */
  .picker-d-td {
    background: #d84f4f !important;
  }
  /* PICKABLE DATES */
  .picker-d-d {
    background: lightgray !important;
    cursor: pointer !important;
  }
  .picker-d-d:hover {
    background: #a33c3c !important;
  }
  /* UNPICKABLE DATES */
  .picker-d-dd {
    /* color: #4e4e4e !important; */
    background: darkgray !important;
    cursor: default !important;
  }