/* LOADER */
.lds-dual-ring {
    position: absolute;
    top: 2px;
    left: 90px;
    display: none;
    width: 40px;
    height: 40px;
}
.check-button .lds-dual-ring {
    left: 65px;
}

.lds-dual-ring:after {
    content: " ";
    display: none;
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.7s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.promo-button.fetching.disabled .lds-dual-ring {
    display: inline-block;
}
.promo-button.fetching.disabled .lds-dual-ring:after {
    display: block;
}
/* LOADER */

#masthead {
    background-image: url(../img/banner.png);
    background-color: lavender;
}

#promo-header {
    margin-top: 15px;
    text-align: center;
}

.promo-button {
    color: white;
    background-color: #1e73be;
    padding: 0;
    border-radius: 4px;
    outline: none;
    position: relative;
}

.promo-button:focus {
    outline: none;
}
.promo-button:focus-visible {
    outline: 2px solid #96588a;
}

.promo-button:hover {
    color: white;
    background-color: #1e73be !important;
    box-shadow: 0 0 15px 0 #57bfff;
}

.promo-button.disabled:hover {
    box-shadow: none;
}

.promo-button:active {
    color: white;
    background-color: #1e73be !important;
    box-shadow: none;
    outline: none;
}

.promo-button span {
    display: block;
    margin: 10px 23px;
}

.promo-button:disabled {
    color: #1e73be;
}

.check-button {
    width: 160px;
}

.check-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.required {
    color: red;
}

form.promo-form {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form.promo-form p {
    width: 100%;
}

form.promo-form p label {
    text-align: left;
    width: 100%;
    height: 17px;
    display: block;
    padding: 0;
    margin: 0 0 8px 25px;
}

form.promo-form p input {
    width: 100%;
    color: black;
    padding-left: 25px;
}

form.promo-form p input:disabled {
    color: #6d6d6d;
    font-weight: 100;
}

#promo-output {
    color: #6d6d6d;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 65px;
    border: 1.5px solid gray;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info {
    box-shadow: 0 0 10px 0 green;
}

.warning {
    box-shadow: 0 0 10px 0 darkorange;
}

.error {
    box-shadow: 0 0 10px 0 red;
}

footer.site-footer {
    padding:1em 0 5.7em;
    background-color: #4a0b47;
}

.homescoring {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.homescoring a {
    margin-top: 13px;
    outline: none;
    color: #96588a;
}

.homescoring a:focus-visible {
    outline: 2px solid #96588a;
}